
* {
	box-sizing: border-box;
}
body {
	font-family: sans-serif;
}

.wrapper {
	display: flex;
}


.container {
	width: 100%;
	max-height: 100vh;
	overflow-y: scroll;
	/* border: 1px solid gray; */
	scroll-snap-type: y mandatory;
}

video {
  width: 100%;
  height: auto;
  min-height: 100vh;
  max-height: 100vh;
  scroll-snap-align: start;
  background: cornsilk;
}

.video-container {
	position: relative;
}

.video-options {
	position: absolute;
	bottom: 12%;
	right: 2%;
	display: flex;
    flex-direction: column;
}

button {
	margin-right: 0.5rem;
	margin-bottom: 0.5rem;
	cursor: pointer;
}

.active-btn {
	background-color: antiquewhite;
}